@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 10px;
}

ul {
  list-style-type: none;
}

.header {
  overflow: hidden;
  background-color: rgb(14, 13, 13);
  color: aliceblue;
  font-size: 11px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  word-spacing: 0.5px;
}

.header a {
  color: aliceblue;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .container ul {
  display: flex;
}

.header .container ul li {
  margin-right: 25px;
}

.header i {
  font-size: 12px;
  margin-right: 2px;
  color: rgb(245, 182, 46);
}

.navbar {
  background-color: aliceblue;
}

.navbar .container {
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar h1 {
  font-size: 30px;
  font-weight: 900;
}

.navbar .container ul {
  display: flex;
}

.navbar .sidebar-opener {
  display: none;
}

.navbar .container ul li {
  margin-right: 15px;
}

.navbar .nav a {
  display: inline-block;
  margin-right: 25px;
  font-weight: 700;
}

.navbar .cart-btn span {
  font-size: 12px;
  padding-top: 2px;
  width: 20px;
  height: 20px;
  text-align: center;
  color: white;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  margin-top: 20px;
  margin-left: 15px;
}

.navbar a:hover {
  color: rgb(255, 157, 11);
}

.main-section {
  overflow: hidden;
  color: aliceblue;
  line-height: 1.2;
}

.main-section img {
  width: 100%;
}

.main-section .para-1 h1 {
  font-size: 70px;
}

.main-section .para-1 p {
  line-height: 1.7;
  font-size: 27px;
}
.main-section .container {
  padding: 90px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-img {
  max-width: 30%;
}

.main-section {
  background-image: url("../images/main-bg.jpg");
  background-size: cover;
}

.banner {
  background-color: black;
  color: whitesmoke;
}

.banner .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  text-align: center;
  line-height: 1.5;
}

.banner p {
  font-size: 14px;
}

.banner .container .banner-item {
  padding: 15px;
}

.categories {
  /* background-color: aliceblue; */
  /* overflow-x: scroll; */
  text-align: center;
}

/* .categories h1 {
  letter-spacing: 3px;
  padding: 30px;
  /* padding-top: 30px; */
/* border: 1px solid red; */
/* padding-bottom: 15px;
  border-bottom: 3px solid rgb(14, 13, 13);
  margin: 0 auto;
  width: 10%;
  margin-bottom: 30px; */
/* } */

.categories img {
  width: 100%;
}

.categories .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 5px 0;
}

.blogs-section {
  text-align: center;
}

.blogs-section .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.blogs-section h2 {
  margin-bottom: 15px;
}

.blogs-section .blogs-link {
  padding: 20px;
  border: 1px solid gainsboro;
}

.blogs-section .blog-link-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid gainsboro;
  margin-bottom: 14px;
}

.blogs-section .blog-link-header h4 {
  padding: 14px;
}

.blogs-section p {
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
}

.blogs-section a {
  font-size: 14px;
  color: blue;
}

.blogs-section .blogs-link a {
  float: right;
}

.blogs-section p:nth-of-type(2) {
  margin-top: 6px;
  color: rgb(68, 83, 83);
}

.footer {
  background-color: rgb(2, 2, 2);
  color: whitesmoke;
}

.footer h3 {
  color: rgb(245, 182, 46);
}

.footer a {
  color: #fff;
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  /* border: 1px solid white; */
  padding: 40px;
}

.footer ul {
  line-height: 1.8;
  margin-top: 14px;
  margin-bottom: 14px;
}

.footer ul p {
  font-size: 14px;
}

.footer a {
  font-size: 14px;
}

.footer .footer-follow-btns ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid red; */
  text-align: center;
  margin-top: 10px;
}

.footer .footer-follow-btns ul li {
  /* margin-right: 12px; */
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  background-color: rgb(75, 75, 226);
  border-radius: 50%;
}

.footer .footer-cr {
  text-align: center;
  padding: 30px;
}

.footer span a {
  color: rgb(75, 75, 226);
  text-decoration: underline;
}

.section-slider h2 {
  text-align: center;
  margin-top: 30px;
}

.section-slider .container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 50px; */
  max-width: 90%;
  margin: 25px auto;
}

.section-slider .slide-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
}

.section-slider .item-img-sec {
  width: 70%;
  margin: 20px auto;
}

.section-slider .item-img-sec img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border: 1px solid grey;
}

.section-slider .item-details {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  align-items: center;
}

.section-slider .title {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  margin-bottom: 10px;
}

.title a {
  color: blue;
  font-family: 600;
}

.title span {
  /* padding: 10px; */
  padding: 4px 0;
  font-size: 14px;
  color: rgb(59, 57, 57);
}

.section-slider .item-price {
  color: red;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  /* display: none; */
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  top: 15%;
  margin: 0px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 34%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup-top {
  display: flex;
  justify-content: space-between;
  /* padding: 20px; */
  align-items: center;
}

.popup-top a {
  font-size: 50px;
}

.cart-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 15px auto;
  border: 1px solid whitesmoke;
}
.cart-item img {
  width: 12%;
  margin-right: 10px;
}

.item-det {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

#popup-myaccount .popup {
  width: 40%;
}

.pop-head {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pop-head a {
  font-size: 40px;
}

.user-img-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.user-img-name img {
  width: 10%;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.user-det {
  display: flex;
  flex-direction: column;
}

table {
  /* border: 1px solid red; */
  width: 100%;
  margin: 12px 0;
}

table tr {
  width: 100%;
  float: left;
}

.user-info th {
  /* width: 20%; */
  text-align: right;
  padding: 6px;
}

.user-info td {
  text-align: left;
  padding: 6px;
}

.user-info td a {
  font-size: 14px;
  color: blue;
  font-weight: 700;
}

.side-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(167, 167, 167);
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  color: #fff;
  /* top: 125px; */
  /* display: none; */
  display: none;
}

.side-menu .side-menu-in {
  background-color: black;
  width: 70%;
  height: 100%;
  position: fixed;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: flex-start;
}

.side-menu h1 {
  font-size: 40px;
}

.logo-sm .nav-menu {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.side-menu .nav-menu a {
  color: #fff;
  padding: 20px 0;
  cursor: pointer;
}

.popOpenBtn {
  cursor: pointer;
}

.op-btn {
  text-align: right;
}

.op-btn button {
  padding: 6px;
  background-color: rgb(61, 61, 240);
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.total-amt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-amt p {
  margin-right: 25px;
  color: red;
  font-weight: 700;
}

.cart-btns button {
  margin: 10px 0;
  padding: 10px 20px;
}

.not-logged-in {
  display: flex;
  flex-direction: column;
}

.not-logged-in a {
  align-self: flex-end;
  text-align: right;
  font-size: 40px;
}

.not-logged-in h2 {
  align-self: center;
}

.log-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.log-btns a {
  font-size: 14px;
  background-color: rgb(36, 36, 202);
  color: white;
  padding: 10px 14px;
  margin: 10px;
  border-radius: 10px;
}
